APP_NAME=GoComicMosaic
APP_ENV=local
CONFIG_PATH=configs/Config.local.yaml
HTTP_PORT=8080
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=10s
DB_DSN=postgres://gcm:gcm123@localhost:5432/gcm?sslmode=disable
JWT_SECRET=EAor0Z9jyBz1BjMB9URHFpUrcekZh9C1TVvZK31Habb
JWT_ISSUER=gocomicmosaic
JWT_EXPIRE=24h
STORAGE_ROOT_DIR=./storage
LOG_LEVEL=info
LOG_FORMAT=text
LOG_OUTPUT=stdout
LOG_ADD_SOURCE=false